.skill {
    width: 100px;
    height: 100px;
}

.additional-skill {
    padding: 0.7em 1.6em;
    margin: 0.4em;
    color: #C5CED4;
    font-size: 1.5em;
    background-color: #ffffff3d;
    border-radius: 2em;
}