.about-me-content-container{
    width: 70%;
    padding: 15em 7em;
}

.about-me-content-container p{
    font-size: 9em;
    color: #C5CED4;
}

.about-me-content-container p:nth-of-type(3){
    font-size: 9em;
    color: #8F8375;
}

.btn-container{ 
    margin: 5em 0;
    float: right;
}